<div>This is POC On Angular..</div>
<div>Practise Session</div>
<div>
    <li>
        <!-- <button>Normal Button</button> -->
        <button class="btn btn-primary">Bootstrap Button</button>
    </li>
</div>
<!-- 
    1.[ng new my-app -d] Here "-d" is used to see the file which will be created..before Project creation .Only     listing the file
    2.[ng new my-app --skip-test] Here "--skip-test" is used to skip the "test" file during creating project
    3. Before Angular6 "CLI file" Name was Angular-cli.json. After Angular6 Onwards Angular.json
    4.Install Bootstrap
      a).npm install bootstrap@latest jquery --save
      ==>F:\Angular-12-10\Angular-12-10-19\pocOnAngular\package.json(To see the version of Bootstrap & jquery)
      ==>F:\Angular-12-10\Angular-12-10-19\pocOnAngular\node_modules\bootstrap\dist(To see Bootstrap files)
      ==>F:\Angular-12-10\Angular-12-10-19\pocOnAngular\node_modules\jquery\dist(To see jquery files)

      b).configuration of bootstrap
      ==>Go in angular.json
      ==>   "styles": [   
                     "node_modules/bootstrap/dist/css/bootstrap.min.css",
                     "styles.css"
                         ],
            "scripts": [  
                "node_modules/jquery/dist/jquery.min.js",
                "node_modules/popper.js/dist/umd/popper.min.js",
                 "node_modules/bootstrap/dist/js/bootstrap.min.js"
                     ],

                     node_modules\bootstrap\dist\css\bootstrap.min.css
--> 